repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
    -   id: ruff
        args: [--fix]
    -   id: ruff-format

-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (python)

-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: pdm run mypy
        language: system
        types: [python]
        pass_filenames: false
        args: [custom_components/city4u, tests/]

    -   id: pylint
        name: pylint
        entry: pdm run pylint
        language: system
        types: [python]
